name = "meauxcloud"
main = "src/worker.js"
account_id = "ede6590ac0d2fb7daf155b35653457b2"
compatibility_date = "2025-11-17"
workers_dev = true

[[routes]]
pattern = "meauxcloud.org"
custom_domain = true

[[routes]]
pattern = "www.meauxcloud.org"
custom_domain = true

[[routes]]
pattern = "dev.meauxcloud.org"
custom_domain = true

[[routes]]
pattern = "admin.meauxcloud.org"
custom_domain = true

[[routes]]
pattern = "fred.meauxcloud.org"
custom_domain = true

[[routes]]
pattern = "connor.meauxcloud.org"
custom_domain = true

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1

[[rules]]
  type = "Text"
  globs = ["**/*.html", "**/*.css"]
  fallthrough = true

[[r2_buckets]]
  binding = "R2_ASSETS"
  bucket_name = "meauxcloud"

[ai]
binding = "AI"

# [[vectorize]]
# binding = "VECTOR_INDEX"
# index_name = "allinfrastructure"

[[d1_databases]]
binding = "DB"
database_name = "meauxos"
database_id = "d8261777-9384-44f7-924d-c92247d55b46"

[[hyperdrive]]
binding = "HYPERDRIVE"
id = "9108dd6499bb44c286e4eb298c6ffafb"
[durable_objects]
bindings = [
  { name = "CHAT_ROOM", class_name = "ChatRoom" }
]

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]
